.toolbar-value{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding-right: 3px;
}


/* EXTRAS  */
.extras{
  background-color: transparent;
  z-index: 20;
  position: relative;
  margin-top: -50px;
}

.showExtras{
  animation: show-extras-animation 1s forwards;
}

.hideExtras{
  animation: hide-extras-animation 1s forwards;
}

@keyframes show-extras-animation{
  0%{
    transform: translate3d(0px, -100px, 0px);
  }
  100%{
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes hide-extras-animation{
  0%{
    transform: translate3d(0px, 0px, 0px);
  }
  100%{
    transform: translate3d(0px, -100px, 0px);
  }
}


/* TOOLTIPS  */
.tooltips{
  background-color: transparent;
  z-index: 30;
  position: relative;
  margin-top: -50px;
  transform: translateY(50px);
}

.show{
  animation: show-animation 1s forwards;
}

.hide{
  animation: hide-animation 1s forwards;
}

@keyframes show-animation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes hide-animation{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.tooltip-value{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: 'blue';
  padding-right: 5px;
}

.tooltip-up {
  animation: move-up 1000ms infinite;
}

.tooltip-down {
  animation: move-down 1000ms infinite;
}
@keyframes move-up{
  0%{
    transform: translate3d(0px, 15px, 0px) scale(1);
    opacity: 1;
  }
  100%{
    transform: translate3d(0px, -15px, 0px) scale(2);
    opacity: 0;
  }
}

@keyframes move-down{
  0%{
    transform: translate3d(0px, -15px, 0px) scale(1);
    opacity: 1;
  }
  100%{
    transform: translate3d(0px, 15px, 0px) scale(2);
    opacity: 0;
  }
}
